<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time</title>
</head>
<body>
<div>
    <h1>Time Conversion</h1><hr>
    <form method="post">{% csrf_token %}
        Enter in Seconds:<input type="number" name="t" placeholder="enter seconds here"><br>
        <input type="submit" value="submit">
    </form>

    <h2>{% if sec%}
        Time in: {{ sec }} Secs
    {% else %}
        {{ minutes }}:{{ seconds }}
    {% endif %}</h2>



</div>
<div>

</div>

</body>
</html>